.plateau{
    margin-top: 5rem;
}


.concurent {
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
}

.concurent img {
    width: 100px;
    transform: scaleX(-1);
}

.drapeau {
    position: absolute;
    right: 0; 
    transform: rotate(90deg) !important;
}
