body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/fond.webp);
    background-size: cover;
}

#race #controls {
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 0.5rem;
}

#race h1 {
    grid-column: span 2;
    font-family: Cabin;
    font-size: 3rem;
    color: #4a7a8a;
}

#race #controls {
    position: absolute;
    top: 50%;
    width: 60vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#race .param {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


#race .param input {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4a7a8a;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}



#race button {
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    grid-column: span 2;
    width: 80%;
    color: white;
    font-weight: 500;
    background-color: #4a7a8a;
    margin: 0 auto; 
    display: block; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#race button:hover{
    background-color: #243b43;
}
