{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    {% block title %} {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body class="is-preload">
<div id="main">
    {% block content %} {% endblock %}
</div>


<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/race.js' %}"></script>

</body>
</html>