{% extends 'base.html' %}

{% block content %}
<section id="controls" >
    <label for="tickspeed">Nombre d'itération par seconde: </label>
    <input type="number" id="tickspeed" min="0" value="50" required><br>

    <label for="steps">Nombre d'étapes avant de gagner: </label>
    <input type="number" id="steps" value="100" required><br>

    <label for="escargots">Nombre d'escargots: </label>
    <input type="number" id="escargots" min="0" value="4" required><br>

    <label for="chances">Chances que chaque escargot a d'avancer (par tick): </label>
    <input type="number" id="chances" value="5" required><br>

    <button onclick="startRaceButtonClicked()">Commencer la course</button>
</section>

<section id="plateau">
</section>
{% endblock %}
