{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img class="banner" src="../static/images/turbo.gif" alt="Turbo" />

    <section id="controls">
        <h1>Course d'escargots</h1>
        <div class="param">
            <label for="tickspeed">Nombre d'itérations par seconde :</label>
            <input type="number" id="tickspeed" min="0" value="50" required><br>
        </div>
        <div class="param">
            <label for="steps">Nombre d'étapes avant de gagner :</label>
            <input type="number" id="steps" value="100" required><br>
        </div>
        <div class="param">
            <label for="escargots">Nombre d'escargots :</label>
            <input type="number" id="escargots" min="0" value="4" required><br>
        </div>
        <div class="param">
            <label for="chances">Chances que chaque escargot a d'avancer (par tick) :</label>
            <input type="number" id="chances" value="5" required><br>
        </div>

        <button onclick="startRaceButtonClicked()">Commencer la course</button>
    </section>
</div>

<section id="plateau"></section>
{% endblock %}
